name: Test Matrix Workflow
on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
    - main
    - master
    paths:
    - .github/workflows/semgrep.yml
env:
  REPO_NAME: "onyx"
jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        folder: ["basket", "browse", "campaigns", "onyx"]
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: returntocorp/semgrep
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep
        run: |
          if [ "${{ matrix.folder }}" == $GLOBAL_VARIABLE ]; then
            export SEMGREP_REPO_DISPLAY_NAME=$GLOBAL_VARIABLE
            semgrep ci --exclude='apps/**' --exclude='libs/**' --include='apps/onyx-auth/**'
          else 
            cd apps/${{ matrix.folder }}
            export SEMGREP_REPO_DISPLAY_NAME=$GLOBAL_VARIABLE/${{ matrix.folder }}
            semgrep ci --include=onyx/${{ matrix.folder }} --include=onyx/libs/${{ matrix.folder }}
          fi
