name: Test Matrix Workflow
on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
    - main
    - master
    paths:
    - .github/workflows/semgrep.yml

jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        folder: ["basket", "browse"]
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: returntocorp/semgrep
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep
        run: |
          cd apps/${{ matrix.folder }}
          export SEMGREP_REPO_DISPLAY_NAME=onyx/${{ matrix.folder }}
          semgrep ci
